{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="container about-container">
    <div class="row">
        <div class="col-12">
            <h2 class="header"> Reef Gardens </h2>
            <p> Reef Gardens is a company here is Ireland that has set out to captive breed and cultivate marine fish
                and corals. We want to make sure that each and every
                hobiest can enjoy the hobby knowing that they have not taken any of their fish or corals from the wild.
                We believe that this hobby should be enjoyed by all but not at the cost of destroy marine eco-systems.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="header">Why Reef Gardens?</h2>
        </div>
    </div>
    <div class="col-12">
        <div>
            <h3 class="header">Locally Breed</h3>
            <p class="para">These fish and corals are lcoally breed in Ireland, which means that they do not have to
                travel far to
                get to you. You will recieve a more healthy and less stressed fish, this will help you with introducing
                the new fish into your aquarium and set you up for success</p>
        </div>
        <div class="col-12">
            <h3 class="header">Sustainability</h3>
            <p class="para">Sustainability is a big factor for us here at Reef Gardens..
                Each fish and coral is breed here at Reef Gardens. Captive breeding helps alleviate collection pressure
                on wild fish and coral populations and the reefs they inhabit are left alone.</p>
        </div>
        <div class="col-12">
            <h3 class="header">Accustomed to captivity</h3>
            <p class="para">Having been reared under aquarium conditions and raised on prepared aquarium foods,
                captive-bred
                specimens are simply much better suited to life in water-filled glass or acrylic boxes and much easier
                to feed than their wild-collected counterparts are.</p>
        </div>
    </div>
</div>
{% endblock %}